body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;

    background-image: linear-gradient(rgba(252, 155, 155, 0.71), rgba(101, 14, 14, 0.53))
            , url("../Assets/hepner_hall_sdsu_01192023_main.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background: #ffffff;
    padding: 30px;
    border-radius: 0; /* Add this for rounded corners */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-top: 30px;
}
.text-sdsu{
    color: #d41736;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
}
.text{
    color: #2d2828;
    font-size: 44px;
    font-weight: 600;
    display: inline-block;
    text-align: center;
}

.underline{
    width: 100%;
    height: 6px;
    background: #d41736;
    border-radius: 9px;

    margin-top: 5px;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 35px;
}

.input{ 
    display: flex;
    align-items: center;
    margin: auto;
    border-radius: 0;
    width: 380px;
    height: 80px;
    background: #aeaeae;
}

.input img{
    width: 24px;
    height: 24px;
    margin-left: 20px;
    margin-right: 20px;
}

.input input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 20px;
    color: #797979;
    width: 300px;
    height: 50px;
    font-size: 20px;
}

.forgot-password{
    margin-top: 20px;
    color: #797979;
    font-size: 18px;
    font-weight: 500;
    align-items: center;
}

.forgot-password span{
    color: #d41736;
    cursor: pointer;

}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 40px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 172px;
    height: 60px;
    border-radius: 0;
    background: #d41736;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;    
}

.gray{
    background: gray;
    color: #676767
}

.sdsu-logo {

    position: fixed;

    top: 20px;
    right: 20px;

    width: 220px;
    height: auto;

    /* The white background on the logo*/
    background-color: white;
    padding: 10px;
    border-radius: 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    z-index: 100;
}