body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    background: linear-gradient(135deg, #A6192E 0%, #8B1425 100%);

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    overflow-y: scroll;
    scrollbar-gutter: stable;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
    overflow-y: scroll;
}

#root {
    width: 100%;
    min-width: 100%;
}